@charset "UTF-8";
/* CSS Document */


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
    font-family: 'Allerta Stencil', sans-serif;
    letter-spacing: .075em;
}

h1 {
    text-align:center;
    font-size: 30px;
    margin-top: 20%;
    color: black;
	background-color: white;
	opacity: .8;
	padding-bottom: 40px;
	padding-top: 40px;

	
}

footer {
	background-color: white;
	opacity: .8;
	padding-top: 20px;
}

#video-background {;

  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}
